.button {
	font-family: 'Poppins';
	border: none;
	background-color: #fff;
	box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ccc;
}

.button:hover {
	background-color: #ccc;
	border: none;
	cursor: pointer;
}

.button:active,
.button:focus {
	outline: none;
	background-color: #ccc;
}

.selection-bar button {
	padding: 0.3rem;
	margin-right: 5px;
}

@media only screen and (max-device-width: 480px) {
	.selection-bar {
		display: flex;
		flex-direction: column;
	}

	.button {
		margin-bottom: 3px;
	}
}
