.main-section {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;

	border-radius: 30px;
	width: 50vw;
}

.wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: space-between;
	width: 100%;
}

.wrapper h1 {
	margin-right: 20px;
}

.sign-out-btn {
	margin-top: 3rem;
	padding: 0.3rem 1.5rem 0.3rem 1.5rem;
}
