.delete-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.delete-main-section {
  width: 100%;
}

.selected-button,
.all-button {
  padding: .3rem .3rem .3rem .3rem;
}


@media only screen and (max-width: 480px) {
  .MuiIconButton-label {
    width: 1rem;
  }
}