.delete-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.delete-main-section {
  width: 100%;
}

.selected-button,
.all-button {
  padding: .3rem .3rem .3rem .3rem;
}
